@import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #1d1d1d;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
}

a,
label {
    text-decoration: none;
    color: white;
}